<ol class='items-list'>
    <li class='item flexrow items-header'>
    <div class='item-name'>{{localize 'Name'}}</div>
    <div class='item-formula'>{{localize 'Total Rank'}}</div>
    <div>{{localize 'Toggle'}}</div>
  </li>
    {{#each powers as |item id|}}
      <li class='item flexrow' data-item-id='{{item._id}}'>
        <div class='item-name flexrow'>
          <div class='item-image'>
            <a class='rollable' data-roll-type='power'><img
                src='{{item.img}}'
                title='{{item.displayName}}'
                width='24'
                height='24'
              /></a>
          </div>
          <h4>{{item.displayName}}</h4>
        </div>
        <div class='item-formula item-prop'>{{ifThen (isDefaultPower item) '-' (getDerivedPowerRank item.name)}}</div>
        {{#if item.system.toggleable}}
         <div class='item-prop'>
          <input class="power-toggle" type="checkbox" name='item.system.toggleActive' {{checked item.system.toggleActive}}></input>
         </div>
        {{else}}
         <div></div>
        {{/if}}
      </li>
    {{/each}}
</ol>
