<div class="resources grid grid-4col">
  {{! "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. }}
  <div class="resource flex-group-center">
    <label for="system.body" class="resource-label rollable" data-trait="body" data-label="Body">
      Body
    </label>
    <div class="resource-content flexrow flex-center flex-between">
      <input
        type="text"
        name="system.body"
        value="{{system.body}}"
        data-dtype="Number"
      />
    </div>
  </div>

  <div>
    <div class="resource flex-group-center">
      <label for="system.speed.land" class="resource-label rollable" data-kind="speed" data-key="land" data-label="Land Speed">
        Land Speed
      </label>
      <div class="resource-content flexrow flex-center flex-between">
        <input
          type="text"
          name="system.speed.land"
          value="{{system.speed.land}}"
          data-dtype="Number"
        />
      </div>
    </div>
    <div class="resource flex-group-center">
      <label for="system.speed.air" class="resource-label rollable" data-kind="speed" data-key="air" data-label="Air Speed">
        Air Speed
      </label>
      <div class="resource-content flexrow flex-center flex-between">
        <input
          type="text"
          name="system.speed.air"
          value="{{system.speed.air}}"
          data-dtype="Number"
        />
      </div>
    </div>
    <div class="resource flex-group-center">
      <label for="system.speed.sea" class="resource-label rollable" data-kind="speed" data-key="sea" data-label="Water Speed">
        Water Speed
      </label>
      <div class="resource-content flexrow flex-center flex-between">
        <input
          type="text"
          name="system.speed.sea"
          value="{{system.speed.sea}}"
          data-dtype="Number"
        />
      </div>
    </div>
  </div>

  <div>
    <div class="resource flex-group-center">
      <label for="system.control.land"  class="resource-label rollable" data-kind="control" data-key="land" data-label="Land Control">
        Land Control
      </label>
      <div class="resource-content flexrow flex-center flex-between">
        <input
          type="text"
          name="system.control.land"
          value="{{system.control.land}}"
          data-dtype="Number"
        />
      </div>
    </div>
        <div class="resource flex-group-center">
      <label for="system.control.air"  class="resource-label rollable" data-kind="control" data-key="air" data-label="Air Control">
        Air Control
      </label>
      <div class="resource-content flexrow flex-center flex-between">
        <input
          type="text"
          name="system.control.air"
          value="{{system.control.air}}"
          data-dtype="Number"
        />
      </div>
    </div>
        <div class="resource flex-group-center">
      <label for="system.control.sea"  class="resource-label rollable" data-kind="control" data-key="sea" data-label="Water Control">
        Sea Control
      </label>
      <div class="resource-content flexrow flex-center flex-between">
        <input
          type="text"
          name="system.control.sea"
          value="{{system.control.sea}}"
          data-dtype="Number"
        />
      </div>
    </div>
  </div>

  <div class="resource flex-group-center">
    <label for="system.weapons"  class="resource-label rollable" data-trait="weapons" data-label="Weapons">
      Weapons
    </label>
    <div class="resource-content flexrow flex-center flex-between">
      <input
        type="text"
        name="system.weapons"
        value="{{system.weapons}}"
        data-dtype="Number"
      />
    </div>
  </div>
</div>