<ol class='items-list'>
    <li class='item flexrow items-header'>
    <div class='item-name'>{{localize 'Name'}}</div>
    <div class='item-formula'>{{localize 'Total Rank'}}</div>
    <div>{{localize 'Toggle'}}</div>
    <div>{{localize 'Charges'}}</div>
  </li>
    {{#each powers as |item id|}}
      <li class='item flexrow' data-item-id='{{item._id}}'>
        <div class='item-name flexrow rollable' data-roll-type='power'>
          <div class='item-image'>
            <a ><img
                src='{{item.img}}'
                title='{{item.displayName}}'
                width='24'
                height='24'
              /></a>
          </div>
          <label class="resource-label">{{item.displayName}}</label>
        </div>
        <div class='item-formula item-prop'>{{ifThen (isDefaultPower item) '-' (getDerivedPowerRank item._id)}}</div>
        {{#if item.system.toggleable}}
         <div class='item-prop no-left-border'>
          <input class="power-toggle" type="checkbox" name='item.system.toggleActive' {{checked item.system.toggleActive}}></input>
         </div>
        {{else}}
         <div></div>
        {{/if}}
        {{#if item.system.hasCharges}}
         <div class='item-prop flexrow'>
          <input
          type='text'
          name='item.system.charges.value'
          class="currentCharges"
          value='{{item.system.charges.value}}'
          data-dtype='Number'
        />
          <button class="reset-charges" title="Reset to max charges">
            <i class="fas fa-sync"></i>
          </button>
         </div>
        {{else}}
         <div></div>
        {{/if}}
      </li>
    {{/each}}
</ol>
