<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <h1>{{localize "TYPES.Actor.gm-sheet"}}</h1>
    <div>
      <label>{{localize "PROWLERS_AND_PARAGONS.GM.Adversity"}}:</label>
      <input type="number" name="system.adversity" value="{{system.adversity}}" min="0"/>
      <div class="spend-resolve-menu-container">
        <button type="button" class="spend-resolve-btn">{{localize "PROWLERS_AND_PARAGONS.GM.SpendAdversity"}}</button>
        <div class="spend-resolve-dropdown" style="display: none;">
          <ul>
            <li><a class="spend-resolve-option" data-option="flaws">{{localize "PROWLERS_AND_PARAGONS.GM.SpendAdversityMenu.Options.Flaws"}}</a></li>
            <li><a class="spend-resolve-option" data-option="misfortune">{{localize "PROWLERS_AND_PARAGONS.GM.SpendAdversityMenu.Options.Misfortune"}}</a></li>
            <li><a class="spend-resolve-option" data-option="villainy">{{localize "PROWLERS_AND_PARAGONS.GM.SpendAdversityMenu.Options.Villainy"}}</a></li>
            <li><a class="spend-resolve-option" data-option="assist">{{localize "PROWLERS_AND_PARAGONS.DerivedCharacteristics.Resolve.SpendMenu.Options.AssistingAllies"}}</a></li>
            <li><a class="spend-resolve-option" data-option="add-dice">{{localize "PROWLERS_AND_PARAGONS.DerivedCharacteristics.Resolve.SpendMenu.Options.AddDice"}}</a></li>
            <li><a class="spend-resolve-option" data-option="reroll">{{localize "PROWLERS_AND_PARAGONS.DerivedCharacteristics.Resolve.SpendMenu.Options.RerollCompletely"}}</a></li>
            <li class="spend-resolve-submenu">
                <a class="spend-resolve-option" data-option="combat">{{localize "PROWLERS_AND_PARAGONS.DerivedCharacteristics.Resolve.SpendMenu.Options.CombatSpends"}} &raquo;</a>
                <ul class="spend-resolve-submenu-list">
                <li><a class="spend-resolve-option" data-option="seize-initiative">{{localize "PROWLERS_AND_PARAGONS.DerivedCharacteristics.Resolve.SpendMenu.Options.SeizeInitiative"}}</a></li>
                <li><a class="spend-resolve-option" data-option="knockback">{{localize "PROWLERS_AND_PARAGONS.DerivedCharacteristics.Resolve.SpendMenu.Options.Knockback"}}</a></li>
                <li><a class="spend-resolve-option" data-option="lure-attacker">{{localize "PROWLERS_AND_PARAGONS.DerivedCharacteristics.Resolve.SpendMenu.Options.LureAttacker"}}</a></li>
                <li><a class="spend-resolve-option" data-option="enhance-team-attack">{{localize "PROWLERS_AND_PARAGONS.DerivedCharacteristics.Resolve.SpendMenu.Options.EnhanceTeamAttack"}}</a></li>
                <li><a class="spend-resolve-option" data-option="reduce-lethality">{{localize "PROWLERS_AND_PARAGONS.DerivedCharacteristics.Resolve.SpendMenu.Options.ReduceLethality"}}</a></li>
                </ul>
            </li>
            <li><a class="spend-resolve-option" data-option="lucky-break">{{localize "PROWLERS_AND_PARAGONS.DerivedCharacteristics.Resolve.SpendMenu.Options.LuckyBreaks"}}</a></li>
            <li><a class="spend-resolve-option" data-option="power-stunt">{{localize "PROWLERS_AND_PARAGONS.DerivedCharacteristics.Resolve.SpendMenu.Options.PowerStunts"}}</a></li>
            <li><a class="spend-resolve-option" data-option="power-use">{{localize "PROWLERS_AND_PARAGONS.DerivedCharacteristics.Resolve.SpendMenu.Options.PowerUse"}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <section class="sheet-body">
    <h2>{{localize "PROWLERS_AND_PARAGONS.GM.Characters"}}</h2>
    <table>
      <thead>
        <tr>
          <th></th>
          {{#each characters as |char|}}
            <th>{{char.name}}                 <a class="remove-character" data-char-id="{{char.id}}" title="{{localize 'DOCUMENT.Delete'}}">
                  <i class="fas fa-trash"></i>
                </a></th>
          {{/each}}
        </tr>
        <tr>
          <th></th>
          {{#each characters as |char|}}
            <th>
                {{localize "PROWLERS_AND_PARAGONS.DerivedCharacteristics.Resolve.Label"}} {{char.system.resolve.value}}
              <button type="button" class="award-resolve" data-char-id="{{char.id}}">{{localize "PROWLERS_AND_PARAGONS.GM.AwardResolve"}}</button>
            </th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each config.talents as |talentLabel talentKey|}}
          <tr>
            <th>{{localize (concat "PROWLERS_AND_PARAGONS.Talent." talentKey)}}</th>
            {{#each ../characters as |char|}}
              <td>{{lookup (lookup char.system.talents talentKey) "value"}}</td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</form> 