<form>
  <fieldset>
    {{> "systems/prowlers-and-paragons/templates/roll/parts/difficulty-section.hbs"}}
    <br>
    <div>
      <label>{{localize "PROWLERS_AND_PARAGONS.Roll.Modifiers"}}
        <input type="number" name="modifier" value="{{modifier}}" placeholder="0" onClick="this.select();"
          style="width: 8ch;" />
      </label>
      {{#if showMinionOffense}}
      <br>
      <input type='checkbox' name='offense' {{checked offense}}> 
      {{localize "PROWLERS_AND_PARAGONS.Roll.MinionOffense"}}
      </input>
      {{/if}}
      {{#if toughness}}
      <br>
      <input type='checkbox' name='halveToughness' {{checked halveToughness}}> 
      {{localize "PROWLERS_AND_PARAGONS.Roll.HalveToughness"}}
      </input>
      {{/if}}
    </div>
  </fieldset>
  <br>
</form>

<script>
  // Map difficulty options to their corresponding numeric values

  // Function to update the difficulty-number input
  function updateDifficultyNumber(selectElement) {
    const selectedOption = selectElement.value;
    const numberInput = selectElement.closest('label').querySelector('input[name="difficulty-number"]');
    if (numberInput) {
      // Set the input value based on the selected option
      numberInput.value = CONFIG.PROWLERS_AND_PARAGONS.roll_difficulty_values[selectedOption] || 0; // Default to 0 if no match
    }
  }
</script>