<div class="dice-roll">
    <div class="part-flavor">{{type}}</div>
    <div class="dice-flavor">Difficulty: {{difficulty}}</div>

    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <h4>
            <section class="dice-total">{{total}}</section>
            <section class="dice-total">Net Successes: {{netSuccess}}</section>
            <section class="dice-total">Narrative Control: {{narrativeControl}}</section>
        </h4>
    </div>

        <button class="opposed-roll">Opposed roll</button>
</div>