<div class="dice-roll">
    <div class="part-flavor">{{type}}</div>
    <div class="dice-flavor">Difficulty: {{difficulty}}</div>

    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <h4>
            <section class="dice-total">{{total}}</section>
            {{#unless hideSuccesses}}
              <section class="dice-total">Net Successes: {{netSuccess}}</section>
              <section class="dice-total narrative-control">Narrative Control: {{narrativeControl}}</section>
            {{/unless}}
        </h4>
    </div>

    {{#unless hideSuccesses}}
        {{#if (gt netSuccess 0)}}
        <div class="apply-damage-menu-container">
            <button class="apply-damage-btn">Apply Damage</button>
            <div class="apply-damage-dropdown" style="display: none;"></div>
            <button class="apply-condition-btn">Apply Power's Conditions</button>
            <div class="apply-condition-dropdown" style="display: none;"></div>
        </div>
        {{/if}}
    {{/unless}}

    <button class="opposed-roll">Opposed roll</button>
</div>