    <legend>{{localize "PROWLERS_AND_PARAGONS.Roll.RollDetails"}}</legend>
    {{#if preselectedDifficulty}}
    {{localize (lookup rollDifficultiesLeveled difficulty) level=difficultyNumber}}
    <br>
    {{else}}
    <div>
      <label>{{localize "PROWLERS_AND_PARAGONS.Roll.Difficulty"}}
        <select name="difficulty" onchange="updateDifficultyNumber(this)">
          {{selectOptions rollDifficulties selected=difficulty localize=true}}
        </select>
        <input type="number" name="difficulty-number" value="{{modifier}}" placeholder="0" onClick="this.select();"
          style="width: 8ch;" />
      </label>
    </div>
    {{/if}}